@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./markdown.css";
@import "~highlightjs/styles/github.css";

.pagetop-offset {
    @apply pt-8;
}

.header-height {
    @apply h-16;
}

.main-height {
    height: calc(100vh - 4rem);
}

.min-main-height {
    min-height: calc(100vh - 4rem);
}


@screen sm {
    
    .pagetop-offset {
        @apply pt-12;
    }

    .header-height {
        @apply h-20;
    }

    .main-height {
        height: calc(100vh - 5rem);
    }
    
    .min-main-height {
        min-height: calc(100vh - 5rem);
    }
}
