@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./markdown.css";
@import "~highlight.js/styles/github.css";

.pagetop-offset {
    @apply pt-8;
}

.header-height {
    @apply h-16;
}

.main-height {
    height: calc(100vh - 4rem);
}

.min-main-height {
    min-height: calc(100vh - 4rem);
}

.min-card-height {
    height: 240px;
    min-height: 240px;
}

.article-card-image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    background-color: #ddd;
    border-radius: 8px;
}

.icon-size-sm {
    @apply h-6 w-6
}

.icon-size-md {
    @apply h-8 w-8
}

.icon-size-lg {
    @apply h-10 w-10
}

@screen sm {
    .pagetop-offset {
        @apply pt-12;
    }
}